*/dist/
!*/www/favicon.ico
*/www/
*/.stencil/
*/.idea/
*/.vscode/
*/.sass-cache/
*/.versions/
*/node_modules/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

*/components.d.ts
*/package-lock.json

$RECYCLE.BIN/

.history
