.container {
  position: relative;
  height: 100vh;
}

.main {
  width: 85%;
  margin: 0 auto;
  overflow-y: auto;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  text-align: center;
}